<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Cloud-9 Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style> 
    input[type=submit]{
    background-color: #4CAF50;
    border-radius : 4px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }
</style>
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Welcome to Cloud-9 application</h1>
      <h2>Events Feed - Through Jenkins</h2>
    {{{body}}}
    </div>
</div>
<div class="container-fluid">
  <h2>Add an event</h2>
    <form action="/event" method="post">
       Title: <input name="title" type="text" required/> <br /> <br />
       Description: <input name="description" type="text" /> <br /> <br />
       Location: <input name="location" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>